html {
    height: 100%;
}

body {
    padding-top: 70px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.glyphicon {
    margin-right: 5px;
}

.img-rounded {
    border-radius: 6px;
}

@media (min-width: 768px) {
    .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }
}

.page-title {
    margin-top: 0;
}

a:hover {
    text-decoration: none;
}